.cars{
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.title_cars{
    font-family: 'monument extended';
    font-size: 45px;

}

.flotte{
    display: flex; 
    justify-content: space-evenly;

}

.flotte_car{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
    border-radius: 20px;
    position: relative;
}

.flotte_car:hover{
    background-color: #d8d8d8;
    transition: .3s ease;
}



.mourad{
    background-image: url(/src/assets/taxis/mourad.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 450px;
    height: 200px;
}


.michele{
    background-image: url(/src/assets/taxis/michele.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 450px;
    height: 200px;
}

.charly{
    background-image: url(/src/assets/taxis/charly.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 450px;
    height: 200px;
}

.maeva{
    background-image: url(/src/assets/taxis/maeva.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 450px;
    height: 200px;
}

.title_name{
    font-family: 'monument extended';
}

.ads_number{
    font-size: 12px;
}

.phone_overlay{
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'monument extended';
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: black;
    opacity: 0;
    transition: .3s ease;
    z-index: 10;
}

.phone_overlay:hover{
    opacity: 1;
}


@media(max-width:1024px){
    .cars{
        max-width: 1024px;
    }

    .mourad{
        width: 300px;
        height: 125px;
    }

    .michele{
        width: 300px;
        height: 125px;
    }

    .charly{
        width: 300px;
        height: 125px;
    }

    .maeva{
        width: 300px;
        height: 125px;
    }
}

@media(max-width:768px){
    .cars{
        max-width: 768px;
    }

    .flotte{
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:720px){
    .cars{
        max-width: 440px;
    }
    .title_cars{
        font-size: 30px;
    }
}

@media(max-width:440px){
    .cars{
        max-width: 325px;
    }
    .title_cars{
        font-size: 30px;
    }
}